/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.text-center {   text-align: center !important; }

.login .form{
    width: 500px;
    margin: auto;
    padding: 35px 25px;
    border: 1px solid rgb(155, 155, 155);
    margin-top: 10%;
}